* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    height: 80px;
}

.flexbox {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item {
    margin: 0 20px;
    list-style: none;
}

.list-item a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #ddd;
    color: black;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.list-item a:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}